img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.chatOdd img{
    float: left;
}
.chatEven img{
    float: right;
}
.textRight{
    background-color: #D6E5EA;
}
.textLeft{
    background-color: #EFD0FE;
}
.textRight, .textLeft{
    height: 70px;
    margin: 20px 80px;
    padding: 5px;
    border-radius: 10px;
}
.triAngleToLeft{
    border-color: transparent #D6E5EA transparent transparent;
    border-style: solid;
    border-width: 10px;
    width: 0px;
    height: 0px;
    float: left;
    margin-top: 10px;
}
.triAngleToRight{
    border-color: transparent transparent transparent #EFD0FE;
    border-style: solid;
    border-width: 10px;
    width: 0px;
    height: 0px;
    float: right;
    margin-top: 10px;
}

body
{
    background:linear-gradient(90deg,#EFD0FE,#D6E5EA)
}