#BoxMargin
{
    border: 1px dashed black;
    margin: 20px;
    text-align: center;
}
#BoxBorder
{
    border: 1px solid black;
    margin: 20px;
    background-color: yellow;
    text-align: center;
    margin-top: 0px;
}
#BoxPadding
{
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    background-color: white;
    margin-top: 0px;
}
#BoxContent
{
    border: 1px dashed black;
    margin: 20px;
    background-color: transparent;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 150px;
}